.recommendations {
    font-size: 1.3rem;
    color: var(--color-gray-dark-3);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__friends {
        display: flex;
    }

    &__img {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        margin-right: -2rem;
        border: 4px solid white;
        box-sizing: content-box;
    }
}
